###  K Nearest Neighbors
- Propósito de clasificación apriori: Entrenar a la máquina con información histórica, a partir de la cual la máquina podrá hacer clasificaciones con nuevos datos.
- Los vecinos determinan si un punto pertenece o no al grupo (proximidad de distancia).

In [19]:
#----- Importamos las librerías a usar -----
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_validate
import pandas as pd

In [20]:
#----- Cargamos nuestra data (dataset de la universidad de California)-----
data = pd.read_csv("GitHub/python-ml-course/datasets/cancer/breast-cancer-wisconsin.data.txt", header = None)
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [21]:
data.describe() # Descripción de la data (Hay 699 datos)

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [22]:
# Tomar en cuenta que puede faltar alguna prueba (V1, V2, ...)
# ya que existe el caso en el que el paciente no lo haya necesitado.
data.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]
data.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [23]:
data = data.drop(["name"], 1)

C:\Users\Carlos\anaconda3\envs\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [24]:
# Si falta algún valor, elegimos un número muy negativo (lejano a los demás)
data.replace("?", -99999, inplace = True)

In [25]:
Y = data["class"]
X = data[["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]

In [26]:
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [27]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

#### Clasificador de los K vecinos

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [30]:
# K vecinos está enfocado en clasificación y regresión
clf = neighbors.KNeighborsClassifier() # Clasificador K Neighbors Classifier

In [31]:
clf.fit(x_train, y_train) # Entrenamiento del modelo

KNeighborsClassifier()

In [32]:
accuracy = clf.score(x_test, y_test)
accuracy # Precisión del modelo

0.9785714285714285

#### Clasificación de nuevos datos

In [33]:
sample_measure = np.array([4, 2, 1, 1, 1, 2, 3, 2, 1])

In [34]:
sample_measure = sample_measure.reshape(1, -1)

In [35]:
predict = clf.predict(sample_measure)

C:\Users\Carlos\anaconda3\envs\Python37\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [36]:
predict

array([2], dtype=int64)

In [37]:
sample_measure2 = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 1], [2, 2, 4, 4, 2, 2, 6, 2, 4]]).reshape(2, -1)

In [38]:
predict = clf.predict(sample_measure2)

C:\Users\Carlos\anaconda3\envs\Python37\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [39]:
predict

array([2, 2], dtype=int64)